.vertical-menu {
  z-index: 1001;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0px;
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05),
    0 6px 20px 0 rgba(0, 0, 0, 0.02);
  &-height {
    height: 100%;
  }
  &-off {
    width: 240px;
  }
  &-on {
    .navbar-brand-box {
      margin-top: 15px;
      width: 100px;
    }
    width: 90px;
    .sidebar-menu {
      .sub-menu {
        display: none;
      }
      .metismenu {
        margin: 0;
        .menu-title {
          display: none;
        }
        li {
          display: block;
          width: 100%;
        }
      }
      ul li {
        text-align: center;
        font-size: 100px;
        span {
          display: none;
        }
        a {
          display: block;
          padding: 11px 20px;
          color: #545a6d;
          position: relative;
          font-size: 13.3px;
          transition: all 0.4s;
          i {
            display: inline-block;
            min-width: 1.6rem;
            padding-bottom: 0.125em;
            font-size: 1rem;
            line-height: 1.40625rem;
            vertical-align: middle;
            color: #7f8387;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 15px;
  text-transform: uppercase;
  color: #7f8387;
  font-weight: 600;
}

.sidebar-menu {
  .sub-menu {
    padding: 0;
  }

  .metismenu {
    margin: 0;
    li {
      display: block;
      width: 100%;
    }
  }
  ul li {
    .badge {
      margin-top: 5px;
    }
    a {
      display: block;
      padding: 11px 20px;
      color: #545a6d;
      position: relative;
      transition: all 0.4s;
      &:hover {
        color: #383c40;
        i {
          color: #383c40;
        }
      }
      i {
        display: inline-block;
        min-width: 1.6rem;
        padding-bottom: 0.125em;
        font-size: 1rem;
        line-height: 1.40625rem;
        vertical-align: middle;
        color: #7f8387;
        transition: all 0.4s;
      }
    }
    ul.sub-menu li a {
      padding: 0.4rem 1.5rem 0.4rem 3.1rem;
      font-size: 15px;
      color: #545a6d;
      background-color: transparent;
    }
  }
}

// .waves-effect {
//   position: relative;
//   cursor: pointer;
//   font-size: 18px;
//   display: inline-block;
//   overflow: hidden;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-tap-highlight-color: transparent;
// }


@media (max-width: 992px) {
  .vertical-menu-on {
    // display: none;
  }
  .vertical-menu-off {
    display: none;
  }
}
