.font-size {
  &-14 {
    font-size: 14px !important;
  }
  &-17 {
    font-size: 17px !important;
  }
  &-24 {
    font-size: 24px !important;
  }
}

.page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05),
    0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.vertical-menu {
  padding: 0 1.5rem;
  text-align: center;
  &-on {
    width: 90px;
  }
  &-off {
    width: 240px;
  }
}

.navbar-header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0;
}

.header-custom {
  height: 70px;
  box-shadow: none !important;
  color: #555b6d;
  border: 0;
  border-radius: 0px;

  &:hover {
    color: #555b6d;
  }
}

.app-search {
  // padding: calc(32px / 2) 0;
  width: 350px;
  .form-control-custom {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f8f9fa;
    box-shadow: none;
    border-radius: 30px;
  }
  span {
    position: absolute;
    z-index: 10;
    font-size: 13px;
    line-height: 38px;
    right: 16px;
    top: 0;
    color: #5b626b;
  }
}

.noti-icon {
  i {
    font-size: 22px;
    width: 50px;
    color: #5b626b;
  }
  .badge {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
.badge {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 14px;
}

.waves-effect-custom {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #dee2e6;
}

.avatar {
  &-xs {
    height: 2rem;
    width: 2rem;
  }
  &-title {
    align-items: center;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
    border: 2px solid;
  }
}

.language {
  height: 16px !important;
  width: 24px !important;
}

.notification {
  &-custom {
    width: 360px;
  }
  &-view {
    max-height: 230px;
  }
  &-item {
    .d-flex-custom {
      padding: 0.75rem 1rem;
      &:hover {
        background-color: #f8f9fa;
      }
    }
  }
}

.dropdown-menu-custom {
  min-width: 100% !important;
}

@media (max-width: 380px) {
  .page-topbar-on{
    position: fixed;
    top: 0;
    right: 0;
    left: 70px;
  }
  .navbar-brand-box {
    display: none !important;
  }
  .vertical-menu{
    &-on{
      display: none;
    }
    &-off{
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .navbar-header {
    .dropdown-custom {
      position: static;

      .dropdown-menu-custom {
        left: 10px !important;
        right: 10px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto;
  }
  .logo {
    span {
      .logo {
        // &-lg {
        //   display: none;
        // }
        // &-sm {
        //   display: inline-block;
        // }
      }
    }
  }
}

@media print {
  .navbar-header {
    display: none !important;
  }
}
