.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: LineIcons;
  content: "\ea5c";
}

.page-breadcrumb .breadcrumb li.breadcrumb-item {
  font-size: 16px;
}

.breadcrumb-title {
  font-size: 20px;
  border-right: 1.5px solid #aaa4a4;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: LineIcons;
  content: "\ea5c";
}

.page-breadcrumb .breadcrumb li.breadcrumb-item {
  font-size: 16px;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: LineIcons;
  content: "\ea5c";
}

.page-breadcrumb .breadcrumb li.breadcrumb-item {
  font-size: 16px;
}
.search-icon {
  opacity: 0.5;
}
.table-responsive {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.card_ne{
  // background-color: red;
  // max-width: 90%;
  // display: flex;
  // align-items: center;
}